@using EntityLayer.Concrete
@model List<Natification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>
<table class="table table-borderless">
    <tr>
        <th>#</th>
        <th>Bildirimler</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
	{
		 <tr>
             <th>@item.NatificationId</th>
             <th>@item.NatificationDetails</th>
             <th>@item.NatificationDate.ToShortDateString()</th>
         </tr>
	}
</table>
