
@{
    ViewData["Title"] = "BlogTitleExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleExel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExecelBlogList" class="btn btn-primary">Exel Listesini indir</a>